$defoult: #29282d;
$while: #fff;
$red: #fe3e57;
%r-b {
  font-family: "Roboto-Bold", sans-serif;
  font-weight: 700;
}
%r-r {
  font-family: "Roboto-Regular", sans-serif;
  font-weight: 400;
}
%r-m {
  font-family: "Roboto-Medium", sans-serif;
  font-weight: 500;
}
%q-r {
  font-family: "Quicksand-Regular", sans-serif;
  font-weight: 400;
}
%q-m {
  font-family: "Quicksand-Medium", sans-serif;
  font-weight: 500;
}
