@import "reset";
@import "vars";
@import "global";
@import "fonts";
@import "libs";
.header {
  padding: 40px 0;
  &__inner {
    display: flex;
    align-items: center;
  }
  &__logo {
    margin-right: 180px;
  }
  &__icons-link + .header__icons-link {
    margin-left: 24px;
  }
  &__icons-link {
    position: relative;
  }
  &__icons-num {
    position: absolute;
    top: -11px;
    left: 13px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: $btn;
    font-size: 12px;
    @extend %q-m;
    color: $while;
    line-height: 20px;
    padding: 0 7px;
  }
}
.menu {
  &__list {
    display: flex;
    margin-right: 178px;
  }
  &__item {
    margin: 0 15px;
  }
  &__link {
    color: $defoult;
    padding: 0 5px 5px 5px;
    transition: all 0.5s;
    &:hover {
      color: $red;
      border-bottom: 1px solid $red;
    }
  }
  &__link--active {
    color: $red;
    border-bottom: 1px solid $red;
    @extend %r-b;
  }
}
.header--bg {
  background-color: #f6f6f6;
}
// top-slider
.top-slider {
  background-image: url(../images/slider-top__bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 157px;
  &__container {
    max-width: 1560px;
    margin: 0 auto;
    padding: 0 15px;
  }
  &__item {
    padding-left: 175px;
  }
  &__box {
    display: flex;
    justify-content: space-between;
  }
  &__title {
    font-size: 58px;
    @extend %r-b;
    color: $baltic;
    line-height: 68px;
    padding-top: 183px;
  }
  &__text {
    font-size: 16px;
    @extend %q-m;
    max-width: 466px;
    margin: 24px 0 74px;
  }
  &__btn {
    padding: 19px 36px;
    background-color: $btn;
    color: $white;
    font-size: 16px;
    @extend %r-r;
    line-height: 26px;
    letter-spacing: 3.2px;
  }
  &__images {
    padding-left: 91px;
    padding-top: 64px;
  }
  .slick-dots {
    display: flex;
    justify-content: center;
    margin-top: -66px;
    position: relative;
    cursor: pointer;
    li {
      margin: 0 15px;
      padding: 5px;
      cursor: pointer;
      button {
        font-size: 0;
        padding: 0;
        width: 6px;
        height: 6px;
        background-color: $gray;
        border-radius: 50%;
        border: none;
      }
      &.slick-active {
        button {
          background-color: $btn;
          position: relative;
          &::after {
            content: "";
            position: absolute;
            border: solid 1px $btn;
            width: 31px;
            height: 31px;
            border-radius: 50%;
            top: -12px;
            left: -13px;
          }
        }
      }
    }
  }
}
// top-slider
// top-categories
.top-categories {
  margin-bottom: 120px;
  &__inner {
    display: flex;
    justify-content: space-between;
    position: relative;
    &::after {
      content: "";
      position: absolute;
      background-image: url(../images/icons/top-categories-decor-left.svg);
      width: 120px;
      height: 121px;
      left: -46px;
      top: -35px;
    }
    &::before {
      content: "";
      position: absolute;
      background-image: url(../images/icons/top-categories-decor-right.svg);
      width: 65px;
      height: 52px;
      bottom: -23px;
      right: -23px;
    }
  }
  &__item {
    width: 370px;
    min-height: 302px;
    box-shadow: 20px 0 60px 0 rgba(202, 202, 202, 0.35);
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    padding: 40px;
    position: relative;
    z-index: 1;
  }
  &__icons {
    width: 60px;
    height: 60px;
    margin: 21px 0 39px;
  }
  &__title {
    font-size: 22px;
    @extend %r-r;
    color: $baltic;
    margin-bottom: 18px;
    line-height: 1.18;
  }
  &__text {
    width: 286px;
    @extend %q-m;
    color: $gray;
    line-height: 1.63;
  }
}
// top-categories
// categories
.categories {
  position: relative;
  &::before {
    content: "";
    position: absolute;
    width: 220px;
    height: 650px;
    background-image: url(../images/icons/categories-icons-left.png);
    background-repeat: no-repeat;
    top: -188px;
    left: 0;
  }
  &::after {
    content: "";
    position: absolute;
    width: 220px;
    height: 650px;
    background-image: url(../images/icons/categories-icons-right.png);
    background-repeat: no-repeat;
    top: -188px;
    right: 0px;
  }
  margin-bottom: 120px;
  &__title {
    text-align: center;
    margin-bottom: 29px;
  }
  &__text {
    text-align: center;
    font-size: 16px;
    max-width: 523px;
    margin: 0 auto 59px;
    color: $gray;
    @extend %q-m;
    line-height: 1.63;
  }
  &__inner {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-gap: 30px;
  }
  &__item {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    position: relative;
    z-index: 1;
    &:nth-child(1) {
      grid-row: span 2;
      width: 370px;
      min-height: 636px;
      object-fit: cover;
      .categories__item-text {
        color: #5800e4;
      }
      .categories__link:hover {
        color: #5800e4;
      }
      .categories__content {
        margin: 33px 0 0 39px;
      }
    }
    &:nth-child(2) {
      grid-column: span 2;
      width: 770px;
      min-height: 303px;
      object-fit: cover;
      .categories__item-text {
        color: #fe3e57;
      }
      .categories__link:hover {
        color: #fe3e57;
      }
      .categories__content {
        margin: 100px 0 0 39px;
      }
    }
    &:nth-child(3) {
      width: 370px;
      min-height: 303px;
      object-fit: cover;
      .categories__item-text {
        color: #ffb534;
      }
      .categories__link:hover {
        color: #ffb534;
      }
      .categories__content {
        margin: 27px 0 0 39px;
      }
    }
    &:nth-child(4) {
      width: 370px;
      min-height: 303px;
      object-fit: cover;
      .categories__item-text {
        color: #34c3ff;
      }
      .categories__link:hover {
        color: #34c3ff;
      }
      .categories__content {
        margin: 27px 0 0 39px;
      }
    }
  }
  &__item-text {
    font-size: 16px;
    @extend %q-m;
    line-height: 1.63;
    margin-bottom: 11px;
  }
  &__item-title {
    font-size: 22px;
    @extend %r-m;
    margin-bottom: 20px;
    color: #29282d;
  }
  &__link {
    font-size: 16px;
    color: #29282d;
    @extend %r-r;
    transition: all 0.5s;
  }
}
// categories
// popup
.popup {
  background-image: url(../images/popup-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  width: 100%;
  min-height: 719px;
  margin-bottom: 120px;
  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 120px 0;
  }
  &__img {
    background-repeat: no-repeat;
    width: 535px;
    height: 479px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &__content {
    max-width: 566px;
  }
  &__subtitle {
    margin-bottom: 24px;
  }
  &__title {
    margin-bottom: 40px;
  }
  &__text {
    @extend %q-m;
    color: $gray;
    margin-bottom: 59px;
  }
  &__content-link {
    font-size: 16px;
    color: #ffffff;
    @extend %r-r;
    box-shadow: 0px 7px 20px 0 rgba(255, 17, 48, 0.3);
    background-color: #fe3e57;
    text-transform: uppercase;
    padding: 19px 30px;
  }
}
// popup
// products
.products {
  margin-bottom: 120px;
  &__title {
    margin-bottom: 30px;
  }
  &__text {
    max-width: 566px;
    margin: 0 auto 60px;
    text-align: center;
    font-size: 16px;
    @extend %q-m;
    line-height: 1.63;
    color: $gray;
  }
  &__item-content__text {
    font-size: 16px;
    @extend %q-m;
    color: #8d8d8d;
    display: none;
    margin-bottom: 26px;
  }
  &__items {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-gap: 50px 30px;
    text-align: center;
  }
  &__item {
    width: 370px;
    position: relative;
  }
  &__item-content {
    display: flex;
    flex-direction: column;
  }
  &__item--sale::before {
    content: "SALE";
    position: absolute;
    box-shadow: 0px 7px 20px 0 rgba(254, 62, 87, 0.25);
    background-color: #fe3e57;
    width: 60px;
    height: 30px;
    color: #fff;
    top: 25px;
    left: 25px;
    padding: 6px;
    z-index: 1;
  }
  &__images-box {
    position: relative;
    overflow: hidden;
    &:hover .products__item-navigation {
      transform: translateY(0);
    }
  }
  &__images {
    width: 370px;
    height: 370px;
    object-fit: cover;
    margin-bottom: 29px;
  }
  &__item-navigation {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 163px;
    width: 212px;
    height: 50px;
    background-color: #fff;
    border-radius: 25px;
    box-shadow: 0px 5px 30px 0 rgba(152, 152, 152, 0.2);
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    transform: translateX(700%);
    transition: all 0.5s;
    z-index: 1;
  }
  &__item-content__btn {
    width: 161px;
    height: 50px;
    font-size: 16px;
    color: #fff;
    background-color: #29282d;
    border: none;
    cursor: pointer;
    display: none;

    transition: all 0.5s;
    &:hover {
      background-color: #fe3e57;
      box-shadow: 0px 7px 20px 0 rgba(255, 17, 48, 0.3);
    }
  }
  &__item-icons {
    path {
      transition: all 0.3s;
    }
  }
  &__item-icons:hover {
    path {
      fill: #fe3e57;
    }
  }
  &__item-title {
    font-size: 22px;
    @extend %r-r;
    color: #29282d;
    line-height: 1.18;
    margin: 0 auto 20px;
  }
  &__item-price {
    text-align: center;
  }
  &__item-num {
    color: #29282d;
    font-size: 16px;
    @extend %r-m;
    line-height: 1.63;
  }
  &__item-clossed {
    line-height: 1.63;
    margin-left: 10px;
    font-size: 16px;
    @extend %r-m;
    color: #ccccce;
    text-decoration: line-through;
  }
  &__btn {
    text-align: center;
    margin: 30px auto 0;
  }
}
.stars {
  display: flex;
  margin: 0 auto 12px;
}
.products__item {
  margin-top: 41px;
  &.products__item--list {
    width: 100%;
    &.products__item {
      border: solid 1px #ececec;
    }
    .products__images {
      width: 200px;
      height: 250px;
      margin: 0;
    }
    .products__images-box {
      display: flex;
    }
    .products__item-content {
      margin-left: 41px;
      display: flex;
      flex-direction: column;
    }
    .products__item-title {
      order: -1;
      margin: 30px 0 20px 0;
    }
    .products__item-starsbox {
      display: flex;
      margin-bottom: 19px;
    }
    .products__item-content__text {
      display: block;
    }
    .stars {
      margin: 0;
    }
    .products__item-icons:nth-child(2) {
      display: none;
    }
    .products__item-navigation {
      width: 125px;
      background-color: transparent;
      left: 33px;
      right: auto;
      bottom: 100px;
      box-shadow: none;
    }
    .products__item-icons {
      width: 50px;
      height: 50px;
      border-radius: 50%;
      background-color: #fff;
      display: flex;
      justify-content: center;
      align-items: center;
      box-shadow: 0px 5px 30px 0 rgba(152, 152, 152, 0.2);
    }
    .products__item-content__btn {
      display: block;
    }
    .products__item-price {
      margin: 0 40px 0 0;
    }
  }
}
// products
// time
.time {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  min-height: 690px;
  text-align: center;
  margin-bottom: 120px;
  &__content {
    padding: 160px 0;
    max-width: 570px;
    margin-left: auto;
  }
  &__subtitle {
    margin-bottom: 29px;
  }
  &__title {
    margin-bottom: 60px;
  }
  &__items {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 60px;
  }
  &__item {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    box-shadow: 0px 10px 40px 0 rgba(187, 187, 187, 0.3);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    & span {
      font-size: 48px;
      @extend %r-b;
      color: $baltic;
    }
  }
  &__item-smalltext {
    @extend %q-r;
  }
  &__btn {
    margin: 0 auto;
  }
}
// time
.footer {
  padding: 76px 0 75px;
  background-color: $bg;
  &-bottom__inner {
    display: flex;
    justify-content: space-between;
    padding: 31px 0 0;
  }
  &-bottom__copy {
    font-size: 12px;
    color: $gray;
    @extend %q-m;
    line-height: 31px;
  }
  &-bottom__text {
    display: inline-block;
    font-size: 12px;
    color: $gray;
    @extend %q-m;
    line-height: 31px;
    margin-right: 20px;
  }
  &-bottom__payment-icons {
    margin: 0 12px;
  }
}
// time
// partners
.partners {
  margin-bottom: 120px;
  &__list {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
// partners
.footer-top {
  border-bottom: 1px solid #ececec;
  padding-bottom: 40px;
  &__inner {
    display: flex;
  }
  &__descr {
    width: 236px;
    margin-right: 76px;
  }
  &__address {
    color: $gray;
    font-size: 16px;
    @extend %q-m;
    line-height: 36px;
  }
  &__email,
  &__email-link,
  &__phone {
    color: $gray;
    font-size: 16px;
    @extend %q-m;
    line-height: 36px;
  }
  &__phone {
    display: block;
    margin-bottom: 5px;
  }
  &__social-link {
    margin-right: 19px;
    path {
      color: $gray;
    }
    &:hover {
      path {
        fill: #fe3e57;
      }
    }
  }
  &__links,
  &__account {
    width: 200px;
  }
  &__news {
    max-width: 470px;
  }
  &__address {
    padding-top: 35px;
    font-size: 16px;
  }
  &__link {
    font-size: 16px;
    color: $gray;
    @extend %q-m;
    line-height: 36px;
  }
  &__text {
    font-size: 16px;
    color: $gray;
    @extend %q-m;
    line-height: 26px;
    margin-bottom: 29px;
  }
  &__input {
    width: 320px;
    height: 51px;
    border: none;
    padding: 19px 17px;
    font-size: 16px;
    color: $gray;
    @extend %q-m;
    line-height: 36px;
    box-shadow: 0px 7px 20px 0 rgba(192, 192, 192, 0.3);
    background-color: #fff;
    &::placeholder {
      font-size: 16px;
      color: $gray;
      @extend %q-m;
      line-height: 36px;
    }
  }
  &__btn {
    width: 136px;
    height: 51px;
    background-color: $btn;
    font-size: 16px;
    @extend %r-r;
    line-height: 36px;
    box-shadow: 0px 7px 20px 0 rgba(255, 17, 48, 0.3);
    margin-left: 10px;
    color: $white;
    padding: 0;
    border: none;
  }
  &-subtitle {
    margin-bottom: 33px;
  }
}
// top
.top {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  min-height: 342px;
  &__container {
    max-width: 1730px;
    padding: 0 15px;
    margin: 0 auto;
  }
  &__inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 120px 0 140px;
  }
  &__title {
    font-size: 48px;
    @extend %r-r;
    color: #15181d;
    margin-bottom: 20px;
    text-transform: uppercase;
  }
}
// modal
.modal {
  max-width: 500px;
  width: 100%;
  margin: 0 auto;
  padding: 113px 0 120px;
  &__inner {
    display: flex;
    justify-content: center;
    margin-bottom: 54px;
  }
  &__link {
    padding: 0 30px;
    font-size: 22px;
    @extend %r-r;
    color: #909090;
    text-transform: uppercase;
  }
  &__link--active {
    color: #fe3e57;
    @extend %r-b;
    font-weight: 700;
  }
  &__label {
    color: #8d8d8d;
    font-size: 16px;
    @extend %q-m;
    margin-bottom: 14px;
    margin-bottom: 40px;
    display: block;
  }
  &__label:nth-child(2) {
    margin-bottom: 51px;
  }
  &__form-input {
    display: block;
    width: 100%;
    height: 60px;
    padding: 10px;
    background-color: #f6f6f6;
    border: none;
    margin-top: 14px;
  }
  &__form-remember {
    font-size: 16px;
    color: #8d8d8d;
    @extend %q-r;
    margin-bottom: 17px;
    display: block;
  }
  &__form-btn {
    width: 570px;
    background-color: #292929;
    color: #ffffff;
    @extend %r-r;
    letter-spacing: 3.2px;
    text-transform: uppercase;
    text-align: center;
    padding: 21px 0;
    border: none;
    margin-bottom: 20px;
  }
  &__form-link {
    color: #fe3e57;
    font-size: 16px;
    @extend %q-m;
  }
  &__label-register {
    margin-bottom: 30px;
  }
  &__form-text:nth-child(1) {
    margin-bottom: 34px;
  }
  &__form-text {
    font-size: 16px;
    @extend %q-m;
    color: #8d8d8d;
    margin-bottom: 39px;
  }
  &__form-register {
    margin-bottom: 22px;
  }
}
// modal
// error
.error {
  padding: 120px 0 120px;
  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__title {
    margin-bottom: 30px;
  }
  &__text {
    font-size: 16px;
    @extend %q-m;
    color: #8d8d8d;
    margin-bottom: 60px;
    max-width: 455px;
  }
  &__btn {
    box-shadow: 0px 5px 25px 0 rgba(254, 62, 87, 0.35);
    background-color: #fe3e57;
    color: #ffffff;
    font-size: 16px;
    @extend %r-r;
    padding: 19px 33px;
    text-transform: uppercase;
  }
  &__img {
    width: 600px;
    height: 550px;
  }
}
// error
// shop
.shop {
  padding: 120px 0 120px;
  &__inner {
    display: flex;
  }
  &__filters {
    width: 370px;
    margin-right: 30px;
    margin-bottom: 30px;
  }
}
// shop
// filter
.filter {
  &__item {
    max-width: 370px;
    width: 100%;
    padding: 34px 30px;
    border: solid 1px #ececec;
  }
  &-search {
    margin-bottom: 40px;
  }
  &__title {
    font-size: 22px;
    @extend %r-r;
    color: $baltic;
    margin-bottom: 30px;
    text-transform: uppercase;
  }
  &-search__form {
    display: flex;
  }
  &-search__input {
    width: 310px;
    height: 50px;
    padding: 0 18px;
    background-color: #f6f6f6;
    border: none;
    &::placeholder {
      font-size: 16px;
      @extend %q-m;
      color: $gray;
    }
  }
  &-search__btn {
    width: 50px;
    height: 50px;
    background-color: $btn;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }
  &-price {
    margin-bottom: 40px;
  }
  &-price__label {
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    span {
      font-size: 16px;
      @extend %q-m;
      color: $gray;
    }
  }
  &-price__btn {
    width: 100px;
    height: 40px;
    box-shadow: 0px 5px 20px 0 rgba(254, 62, 87, 0.3);
    background-color: $btn;
    font-size: 16px;
    @extend %q-m;
    text-transform: uppercase;
    color: $while;
    cursor: pointer;
  }
}
.irs--flat .irs-handle > i:first-child {
  display: none;
}
.irs--flat .irs-handle {
  top: 0px;
  width: 30px;
  height: 30px;
  background-color: #fff;
  box-shadow: 0 0 13px 0 rgba(90, 90, 90, 0.2);
}
.irs--flat .irs-bar {
  height: 5px;
  background-color: $btn;
  top: 13px;
}
.irs--flat .irs-line {
  top: 13px;
  height: 5px;
  background-color: #ececec;
}
.irs-from,
.irs-to,
.irs-single {
  display: none;
}
.irs--flat .irs-min,
.irs--flat .irs-max {
  display: none;
}
.filter-color {
  margin-bottom: 40px;
  &__label {
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    padding-bottom: 20px;
    padding-top: 20px;
    border-bottom: 1px solid #ebebeb;
    &:last-child {
      border-bottom: none;
    }
    &:first-child {
      padding-top: 0;
    }
  }
  &__text {
    @extend %q-m;
    color: $gray;
  }
  &__input {
    width: 1px;
    height: 1px;
    overflow: hidden;
    clip: rect(0 0 0 0);
    position: absolute;
    &:checked + .filter-color__checkbox {
      background-image: url(../images/icons/checkbox.svg);
      background-repeat: no-repeat;
      background-position: center center;
    }
  }
  &__checkbox {
    width: 16px;
    height: 16px;
    margin-left: -16px;
    margin-top: 7px;
    position: absolute;
  }
  &__checkbox--blue {
    background-color: #00aeef;
  }
  &__checkbox--red {
    background-color: #f52574;
  }
  &__checkbox--green {
    background-color: #24d4ac;
  }
  &__checkbox--orange {
    background-color: #ff7e00;
  }
  &__checkbox--black {
    background-color: #000000;
  }
  &__checkbox--purple {
    background-color: #923899;
  }
}
.filter-size {
  margin-bottom: 40px;
  &__label {
    cursor: pointer;
    margin-bottom: 19px;
    display: block;
    &:last-child {
      margin-bottom: 0;
    }
  }
  &__input {
    width: 1px;
    height: 1px;
    overflow: hidden;
    clip: rect(0 0 0 0);
    position: absolute;
    &:checked + .filter-size__checkbox {
      background-image: url(../images/icons/filter-size-icons.svg);
      border: none;
      & + .filter-size__text {
        color: $btn;
      }
    }
  }
  &__checkbox {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    position: absolute;
    margin-top: -2px;
    border: 1px solid #8d8d8d;
  }
  &__text {
    padding-left: 35px;
  }
}
.filter-category {
  margin-bottom: 40px;
  &__label {
    margin-bottom: 15px;
    display: block;
    cursor: pointer;
    &:last-child {
      margin-bottom: 0;
    }
  }
  &__input {
    width: 1px;
    height: 1px;
    overflow: hidden;
    clip: rect(0 0 0 0);
    position: absolute;
    &:checked + .filter-category__checkbox {
      background-color: $btn;
      color: #fff;
    }
  }

  &__checkbox {
    width: 310px;
    height: 50px;
    background-color: #f6f6f6;
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
.filter-popular {
  &__form {
    margin-top: 40px;
  }
  &__label {
    display: inline-block;
    margin-bottom: 45px;
    margin-right: 10px;
    cursor: pointer;
  }
  &__input {
    width: 1px;
    height: 1px;
    overflow: hidden;
    clip: rect(0 0 0 0);
    position: absolute;
    &:checked + .filter-popular__checkbox {
      background-color: $btn;
      color: #fff;
    }
  }
  &__checkbox {
    font-size: 16px;
    @extend %q-m;
    color: $gray;
    border: solid 1px #8d8d8d;
    padding: 14px 19px;
  }
}
// filter
// shop-content
.shop-content {
  width: 100%;
  margin-left: 30px;
  &__filter {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 23px 30px;
    border: solid 1px #ebebeb;
  }
  &__filter-btn {
    border: none;
    background-color: transparent;
    cursor: pointer;
    margin-left: 15px;
  }
  &__filter-btn--active {
    path {
      fill: $btn;
    }
  }
  &__inner {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    .products__item {
      margin-bottom: 40px;
    }
  }
  &__pagination {
    display: flex;
    justify-content: center;
  }
  &__pagination-item {
    margin: 0 10px;
    position: relative;
    &:nth-child(1) {
      margin-right: 40px;
      padding-left: 17px;
      &::before {
        content: "";
        position: absolute;
        width: 6px;
        height: 11px;
        top: 4px;
        left: 0;
        background-image: url(../images/icons/shop-content-left.svg);
      }
    }
    &:nth-child(7) {
      margin-left: 40px;
      padding-right: 17px;
      &::before {
        content: "";
        position: absolute;
        width: 5px;
        height: 12px;
        top: 5px;
        right: 0;
        background-image: url(../images/icons/shop-content-right.svg);
      }
    }
  }
  &__pagination-link {
    font-size: 16px;
    color: #8d8d8d;
    @extend %q-m;
    text-transform: uppercase;
  }
}
.jq-selectbox__select {
  background: transparent;
  color: #333;
  text-shadow: none;
  border: none;
  box-shadow: none;

  padding: 0px 29px 0 10px;
}
.jq-selectbox__trigger-arrow {
  border: none;
  background-image: url(../images/icons/shop-select-icons.svg);
  width: 10px;
  height: 5px;
}
.jq-selectbox__trigger {
  border: none;
}
.jq-selectbox__select-text {
  font-size: 16px;
  color: $gray;
  @extend %q-m;
}
// shop-content
// blog
.blog {
  margin-bottom: 157px;
  &__title {
    margin-bottom: 38px;
    text-align: center;
  }
  &__text {
    max-width: 557px;
    width: 100%;
    font-size: 16px;
    @extend %q-r;
    color: $gray;
    text-align: center;
    margin: 0 auto 56px;
  }
  &__inner {
    display: flex;
    justify-content: space-between;
  }
  &__item {
    width: 370px;
    min-height: 478px;
    box-shadow: 20px 0 60px 0 rgba(202, 202, 202, 0.35);
    border: solid 1px #ececec;
  }
  &__img {
    width: 366px;
    height: 288px;
    object-fit: cover;
  }
  &__item-content {
    padding: 34px 40px 29px 40px;
  }
  &__item-descr {
    display: flex;
    margin-bottom: 24px;
  }
  &__item-admin,
  &__item-date {
    font-size: 16px;
    @extend %q-m;
    color: $gray;
    position: relative;
    padding-left: 30px;
    &::before {
      content: "";
      position: absolute;
      width: 20px;
      height: 20px;
      top: 0;
      left: 0;
    }
  }
  &__item-admin {
    margin-right: 28px;
    &::before {
      background-image: url(../images/icons/user.svg);
    }
  }
  &__item-date::before {
    background-image: url(../images/icons/time.svg);
  }
  &__item-subtitle {
    font-size: 22px;
    @extend %r-r;
    margin-bottom: 19px;
    color: $baltic;
  }
  &__item-link {
    display: inline-block;
    font-size: 16px;
    @extend %q-m;
    color: $gray;
    transition: all 0.4s;
    position: relative;
    padding-right: 15px;
    &:hover {
      color: $btn;
      .cls-1 {
        fill: $btn;
      }
    }
    // &::after {
    //   content: "";
    //   position: absolute;
    //   width: 10px;
    //   height: 8px;
    //   background-image: url(../images/icons/arrow-right.svg);
    //   right: 0px;
    //   top: 6px;
    // }
  }
}
// blog
// shop-page
.shop-page {
  padding-top: 112px;
  &__inner {
    display: flex;
    justify-content: space-between;
  }
  &__slider {
    width: 730px;
    margin-right: 70px;
    display: flex;
  }
  &__slider-carts {
    width: 140px;
    margin-right: 30px;
  }
  &__slider-big {
    width: 560px;
  }
  &__content {
    width: 380px;
  }
  &__title {
    font-size: 22px;
    @extend %r-m;
    color: $baltic;
    margin-bottom: 18px;
  }
  &__box {
    display: flex;
    margin-bottom: 27px;
    font-size: 18px;
    @extend %q-m;
    color: $baltic;
  }
  &__price {
    display: flex;
  }
  &__num {
    margin-right: 15px;
  }
  &__clossed {
    color: #ccccce;
    text-decoration: line-through;
  }
  &__stars {
    margin-left: 115px;
  }
  &__subtitle {
    font-size: 18px;
    @extend %r-r;
    line-height: 1.44;
    color: $baltic;
    margin-bottom: 14px;
  }
  &__text {
    width: 366px;
    @extend %q-m;
    color: $gray;
    margin-bottom: 51px;
  }
  &__form {
    margin-bottom: 28px;
  }
  &__form-title {
    font-size: 18px;
    color: $baltic;
    @extend %r-r;
    margin-bottom: 14px;
  }
  &__label {
    margin-right: 9px;
  }
  &__input {
    width: 1px;
    height: 1px;
    overflow: hidden;
    clip: rect(0 0 0 0);
    position: absolute;
    &:checked + .shop-page__checkbox {
      border: solid 1px #fe3e57;
    }
  }
  &__checkbox {
    display: inline-block;
    width: 24px;
    height: 25px;
    border: solid 1px #ccccce;
    padding: 3px;
    span {
      width: 16px;
      height: 17px;
      display: block;
    }
  }
  &__size-input {
    width: 1px;
    height: 1px;
    overflow: hidden;
    clip: rect(0 0 0 0);
    position: absolute;
    &:checked + .shop-page__size-checkbox {
      border: solid 1px #fe3e57;
    }
  }
  &__size-checkbox {
    width: 40px;
    height: 41px;
    display: inline-block;
    border: solid 1px #ececec;
    margin-right: 8px;
    text-align: center;
    padding-top: 9px;
  }
  &__descr {
    display: flex;
    margin-bottom: 33px;
  }
  &__item {
    font-size: 16px;
    @extend %q-m;
    color: $baltic;
    line-height: 1.75;
  }
  &__list {
    margin-right: 20px;
  }
  &__num,
  &__floor,
  &__tags-link {
    color: #8d8d8d;
    font-size: 16px;
    @extend %q-m;
    line-height: 1.75;
  }
  &__number {
    &.jq-number {
      padding: 0;
    }
    .jq-number__spin {
      position: absolute;
      top: 0;
      right: 0;
      width: 32px;
      height: 14px;
      border: none;
      background-color: none;
      box-shadow: none;
      cursor: pointer;
      background: none;
      &::after {
        content: "";
        position: absolute;
        top: 0px;
        left: 0px;
        width: 0;
        height: 0;
        border: none;
      }
    }
    .jq-number__spin.minus {
      left: 0;
      border: none;
      &::after {
        top: 5px;
        left: 18px;
        width: 15px;
        height: 3px;
        background-color: #29282d;
      }
    }
    .jq-number__spin.plus {
      right: 0;
      border: none;
      &::after {
        top: 5px;
        right: 15px;
        width: 15px;
        height: 3px;
        background-color: #29282d;
      }
      &::before {
        content: "";
        position: absolute;
        top: -1px;
        right: 22px;
        width: 3px;
        height: 15px;
        background-color: #29282d;
      }
    }
    &.shop-page__number .jq-number__spin {
      top: 50%;
      transform: translateY(-50%);
      right: 0;
    }
    .jq-number__field input {
      width: 114px;
      height: 51px;
      text-align: center;
      border: none;
    }
    .jq-number__field {
      border: solid 1px #ececec;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
  &__btn {
    padding: 19px 41px;
    box-shadow: 0px 7px 20px 0 rgba(255, 17, 48, 0.3);
    background-color: #fe3e57;
    font-size: 16px;
    color: $while;
    @extend %r-r;
    border: none;
    cursor: pointer;
    margin-left: 28px;
  }
}
// slider
.slider {
  &-carts__item {
    width: 140px;
    height: 140px;
    margin-bottom: 30px;
  }
  &-carts__img {
    width: 140px;
    height: 140px;
    object-fit: cover;
  }
  &-big__item {
    width: 560px;
    height: 655px;
  }
  &-big__img {
    width: 560px;
    height: 655px;
    object-fit: cover;
  }
}
// slider
// tabs
.tabs {
  padding-top: 84px;
  &__list {
    display: flex;
    padding-bottom: 18px !important;
    margin-bottom: 31px;
    border-bottom: 2px solid #ececec;
  }
  &__list-item {
    margin-right: 60px;
  }
  &-item {
    margin-bottom: 40px;
    display: none;
    &.tabs-item--active {
      display: block;
    }
  }
  &__item-content {
    display: flex;
    margin-bottom: 41px;
  }
  &__link {
    font-size: 22px;
    color: #8d8d8d;
    @extend %r-r;
    &.tabs__link--active {
      padding-bottom: 18px;
      border-bottom: 2px solid #fe3e57;
    }
  }
  &__img-box {
    margin-right: 31px;
  }
  &__img {
    border-radius: 50%;
    overflow: hidden;
    width: 70px;
    height: 70px;
  }
  &__info-box {
    font-size: 16px;
    @extend %q-m;
    display: flex;
    justify-content: space-between;
  }
  &__info-author {
    display: flex;
    margin-bottom: 17px;
  }
  &__info-title {
    font-size: 16px;
    color: $baltic;
    padding-right: 15px;
    line-height: 1.75;
    position: relative;
    &::after {
      content: "/";
      position: absolute;
      margin-left: 15px;
    }
  }
  &__info-date {
    padding-left: 15px;
    color: $baltic;
    line-height: 1.75;
    color: #8d8d8d;
  }
  &__info-text {
    margin-bottom: 15px;
    color: #8d8d8d;
  }
  &__info-link {
    color: $baltic;
    padding-left: 22px;
    position: relative;
    &::after {
      content: "";
      position: absolute;
      background-image: url(../images/icons/tabs-icons.svg);
      width: 15px;
      height: 14px;
      top: 1px;
      left: 0;
    }
  }
  &-coments {
    padding-bottom: 59px;
    margin-bottom: 58px;
    border-bottom: 2px solid #ececec;
  }
  &-coments__title {
    font-size: 22px;
    @extend %r-r;
    line-height: 1.27;
    color: $baltic;
    padding-bottom: 16px;
    margin-bottom: 40px;
    position: relative;
    &::after {
      content: "";
      position: absolute;
      width: 50px;
      height: 3px;
      bottom: 0;
      left: 0;
      background-color: #fe3e57;
    }
  }
  &-coments__box {
    display: flex;
    margin-bottom: 20px;
  }
  &-coments__descr {
    color: $baltic;
    font-size: 16px;
    margin-right: 60px;
    @extend %q-r;
  }
  &-coments__label {
    margin-right: 28px;
  }
  &-coments__input {
    width: 1px;
    height: 1px;
    overflow: hidden;
    clip: rect(0 0 0 0);
    position: absolute;
    &:checked + .tabs-coments__checkbox {
      path {
        fill: #ffc35b;
      }
    }
  }
  &-coments__checkbox {
    display: inline-block;
    path {
      fill: #ccccce;
    }
  }
  &__input-text {
    padding: 0 20px;
    width: 570px;
    height: 51px;
    border: solid 1px #ececec;
    background-color: #fff;
    display: inline-block;
    margin-right: 26px;
    &::placeholder {
      font-size: 16px;
      @extend %q-m;
      color: $gray;
    }
    &:nth-child(even) {
      margin-right: 0;
    }
  }
  &__textarea-text {
    width: 1170px;
    height: 225px;
    border: solid 1px #ececec;
    margin: 28px 0 33px;
    resize: none;
    padding: 21px;
    &::placeholder {
      font-size: 16px;
      @extend %q-m;
      color: $gray;
    }
  }
  &-coments__btn {
    padding: 19px 37px;
    color: #ffffff;
    text-transform: uppercase;
    font-size: 16px;
    @extend %r-r;
    box-shadow: 0px 7px 20px 0 rgba(255, 17, 48, 0.3);
    background-color: #fe3e57;
    cursor: pointer;
  }
}
// tabs
// shop-page
// related-products
.related-products {
  padding-bottom: 120px;
  &__title {
    text-align: center;
    margin-bottom: 58px;
  }
  &__inner {
    display: flex;
    justify-content: space-between;
  }
  &__item {
    width: 268px;
    text-align: center;
    font-size: 16px;
  }
  &__img {
    width: 268px;
    height: 270px;
    object-fit: cover;
    margin-bottom: 19px;
  }
  &__stars {
    margin: 0 auto 14px;
  }
  &__subtitle {
    @extend %r-r;
    color: $baltic;
    margin-bottom: 8px;
  }
  &__price {
    display: flex;
    justify-content: center;
  }
  &__clossed {
    @extend %q-r;
    margin-right: 20px;
    color: #ccccce;
    text-decoration: line-through;
  }
  &__num {
    @extend %q-m;
    color: $baltic;
  }
}
// related-products
// blog-standart
.blog-standart {
  padding: 120px 0 120px;
  &__inner {
    display: flex;
    justify-content: space-between;
  }
  &__content {
    max-width: 770px;
    width: 100%;
    margin-right: 30px;
  }
  &__item {
    max-width: 770px;
    min-height: 741px;
    border: solid 1px #ececec;
    margin-bottom: 60px;
  }
  &__img {
    width: 770px;
    height: 450px;
    object-fit: cover;
  }
  &__box {
    padding: 44px 40px 40px 40px;
    @extend %r-m;
    color: $gray;
  }
  &__title {
    font-size: 22px;
    color: $baltic;
    margin-bottom: 35px;
  }
  &__descr {
    display: flex;
    margin-bottom: 29px;
  }
  &__admin {
    margin-right: 33px;
    font-size: 16px;
    color: $gray;
    padding-left: 30px;
    position: relative;
    &::after {
      content: "";
      position: absolute;
      width: 20px;
      height: 20px;
      background-image: url(../images/icons/user.svg);
      top: -3px;
      left: 0;
    }
  }
  &__date {
    font-size: 16px;
    padding-left: 30px;
    position: relative;
    &::after {
      content: "";
      position: absolute;
      width: 20px;
      height: 20px;
      background-image: url(../images/icons/time.svg);
      top: -3px;
      left: 0;
    }
  }
  &__text {
    font-size: 16px;
    line-height: 1.63;
    max-width: 689px;
  }
  &__img-box {
    background-repeat: no-repeat;
    background-size: cover;
    width: 770px;
    height: 450px;
    object-fit: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &__slider-list {
    .slick-btn {
      border: none;
      cursor: pointer;
      border-radius: 50%;
      overflow: hidden;
      background-color: transparent;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
    }
    .slick-next {
      right: 40px;
    }
    .slick-prev {
      left: 40px;
      z-index: 1;
    }
  }
  &__size {
    max-width: 770px;
    min-height: 281px;
    box-shadow: 0px 20px 60px 0 rgba(202, 202, 202, 0.35);
  }
  &__size-title {
    color: #fe3e57;
  }
  &__post {
    max-width: 370px;
    min-height: 579px;
    border: solid 1px #ececec;
    padding: 40px 30px 44px 30px;
    margin-bottom: 40px;
  }
  &__post-title {
    font-size: 22px;
    color: $baltic;
    margin-bottom: 40px;
  }
  &__post-item {
    padding-bottom: 20px;
    margin-bottom: 20px;
    border-bottom: 1px solid #ececec;
    display: flex;
  }
  &__post-img {
    width: 80px;
    height: 80px;
    object-fit: cover;
    margin-right: 20px;
  }
  &__post-subtitle {
    width: 208px;
    color: $baltic;
    margin-bottom: 16px;
    font-size: 18px;
  }
  &__post-date {
    color: $gray;
    padding-left: 27px;
    position: relative;
    &::after {
      content: "";
      position: absolute;
      width: 16px;
      height: 16px;
      top: 0;
      left: 0;
      background-image: url(../images/icons/blog-date.svg);
    }
  }
}
.blog-standart__aside {
  &-avatar {
    max-width: 370px;
    min-height: 518px;
    border: solid 1px #ececec;
    padding: 40px 31px 39px 31px;
    text-align: center;
    margin-bottom: 40px;
  }
  &-img {
    width: 160px;
    height: 160px;
    object-fit: cover;
    margin: 0 auto 40px;
    display: block;
  }
  &-name {
    font-size: 18px;
    color: $baltic;
    margin-bottom: 11px;
    @extend %r-b;
  }
  &-profesion {
    color: $btn;
    margin-bottom: 29px;
    @extend %q-m;
  }
  &-text {
    margin-bottom: 30px;
    @extend %q-m;
  }
  &-social {
    display: flex;
    justify-content: center;
  }
  &-item {
    margin: 5px;
  }
}
.map {
  margin: 120px 0 111px;
}
// blog-standart
// .contact
.contact {
  margin-bottom: 120px;
  &__inner {
    display: flex;
    justify-content: space-between;
  }
  &__content {
    width: 361px;
    margin-right: 39px;
  }
  &__title {
    font-size: 48px;
    color: #292929;
    @extend %r-b;
    margin-bottom: 30px;
  }
  &__text {
    margin-bottom: 70px;
    font-size: 16px;
    @extend %q-m;
    color: #8d8d8d;
  }
  &__content-item {
    display: flex;
    margin-bottom: 40px;
    align-items: center;
  }
  &__content-box {
    margin-left: 30px;
  }
  &__content-img {
    display: block;
    margin: 0 auto;
  }
  &__content-imgbox {
    width: 60px;
    height: 60px;
    box-shadow: 0px 5px 20px 0 rgba(146, 146, 146, 0.3);
    background-color: #ffffff;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__content-phone,
  &__content-text,
  &__content-mail {
    display: block;
    font-size: 16px;
    color: #292929;
    @extend %q-m;
  }
  &__form {
    max-width: 770px;
    min-height: 636px;
    box-shadow: 0px 10px 40px 0 rgba(172, 172, 172, 0.3);
    padding: 60px 40px 60px 40px;
  }
  &__form-title {
    font-size: 22px;
    @extend %r-b;
    color: #292929;
    margin-bottom: 30px;
  }
  &__form-input {
    width: 323px;
    height: 60px;
    background-color: #f6f6f6;
    border: none;
    padding: 0 20px;
    margin-bottom: 30px;
    &::placeholder {
      font-size: 16px;
      color: #8d8d8d;
      @extend %q-m;
    }
  }
  &__form-input + .contact__form-input {
    margin-left: 30px;
  }
  &__form-input__subject {
    width: 690px;
    height: 60px;
    background-color: #f6f6f6;
    margin-bottom: 30px;
    display: inline-block;
    border: none;
    padding: 0 20px;
    &::placeholder {
      font-size: 16px;
      color: #8d8d8d;
      @extend %q-m;
    }
  }
  &__form-textarea {
    max-width: 690px;
    width: 100%;
    height: 200px;
    background-color: #f6f6f6;
    margin-bottom: 19px;
    padding: 25px;
    border: none;
    &::placeholder {
      font-size: 16px;
      color: #8d8d8d;
      @extend %q-m;
    }
  }
  &__form-btn {
    box-shadow: 0px 8px 25px 0 rgba(254, 62, 87, 0.3);
    background-color: #fe3e57;
    padding: 24px 34px;
    border: none;
    cursor: pointer;
    font-size: 16px;
    color: #fff;
    letter-spacing: 3.2px;
  }
}
// .contact
// blog
.blog {
  margin: 120px 0 120px;
  &__inner {
    display: flex;
    justify-content: space-between;
  }
  &__content {
    max-width: 770px;
    width: 100%;
    margin-right: 30px;
  }
  &__content-one {
    border: solid 1px #ececec;
  }
  &__aside {
    width: 370px;
  }
  &__aside-carts {
    margin-bottom: 40px;
    border: solid 1px #ececec;
    min-height: 518px;
    padding: 40px 30px;
    text-align: center;
    font-size: 16px;
    @extend %q-m;
  }
  &__aside-carts__img {
    width: 160px;
    height: 160px;
    object-fit: cover;
    margin-bottom: 40px;
  }
  &__aside-carts__title {
    font-size: 18px;
    margin-bottom: 11px;
    color: #29282d;
    @extend %r-b;
  }
  &__aside-carts__profesion {
    margin-bottom: 29px;
    color: #fe3e57;
  }
  &__aside-carts__text {
    color: #8d8d8d;
    margin-bottom: 30px;
  }
  &__aside-carts__list {
    display: flex;
    justify-content: center;
  }
  &__aside-carts__item {
    margin: 0 4px;
  }
  &__aside-post {
    margin-bottom: 40px;
    border: solid 1px #ececec;
    padding: 40px 30px;
  }
  &__aside-post__title {
    font-size: 22px;
    margin-bottom: 40px;
    color: #29282d;
    @extend %r-r;
    text-transform: uppercase;
  }
  &__aside-post__box {
    padding-bottom: 24px;
    margin-bottom: 20px;
    border-bottom: solid 1px #ececec;
    &:last-child {
      border-bottom: none;
      margin: 0;
      padding: 0;
    }
  }
  &__aside-post__box {
    display: flex;
  }
  &__aside-post__avatar {
    width: 80px;
    height: 80px;
    object-fit: cover;
    margin-right: 20px;
  }
  &__aside-post__text {
    font-size: 18px;
    color: #29282d;
    margin-bottom: 16px;
    @extend %r-r;
  }
  &__aside-post__date {
    font-size: 16px;
    color: #8d8d8d;
    @extend %r-r;
    padding-left: 27px;
    position: relative;
    &::after {
      position: absolute;
      content: "";
      width: 16px;
      height: 16px;
      top: 0;
      left: 0;
      background-image: url(../images/icons/blog-date-red.svg);
    }
  }
  &__content-img {
    width: 770px;
    height: 480px;
    object-fit: cover;
  }
  &__content-box {
    padding: 30px;
  }
  &__content-descr {
    display: flex;
    margin-bottom: 28px;
  }
  &__content-descr__date,
  &__content-descr__coment,
  &__content-descr__admin {
    font-size: 16px;
    @extend %q-m;
    color: #8d8d8d;
    position: relative;
    display: inline-block;
    margin-right: 29px;
    padding-left: 24px;
    &::before {
      content: "";
      position: absolute;
      width: 16px;
      height: 16px;
      top: 0;
      left: 0;
    }
  }
  &__content-descr__date::before {
    background-image: url(../images/icons/blog-date-red.svg);
  }
  &__content-descr__coment::before {
    background-image: url(../images/icons/blog-content-coment.svg);
  }
  &__content-descr__admin::before {
    background-image: url(../images/icons/blog-content-user.svg);
  }
  &__content-title {
    font-size: 22px;
    margin-bottom: 25px;
    color: #29282d;
    @extend %r-m;
  }
  &__content-text {
    color: #8d8d8d;
    @extend %q-m;
    margin-bottom: 35px;
  }
  &__content-blockquote {
    background-color: #f6f6f6;
    padding: 40px;
    font-size: 22px;
    color: #29282d;
    margin-bottom: 35px;
    position: relative;
    &::before {
      content: "";
      position: absolute;
      width: 3px;
      background-color: #fe3e57;
      height: 100%;
      top: 0;
      left: 0;
    }
  }
  &__content-carts {
    display: flex;
  }
  &__content-carts__img {
    width: 340px;
    height: 272px;
    object-fit: cover;
    margin-right: 30px;
  }
  &__content-carts__text {
    color: #8d8d8d;
    @extend %q-m;
  }
  &-tags {
    margin: 30px 0 40px;
    padding: 0 30px;
  }
  &-tags__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &-tags__title {
    color: #29282d;
    @extend %q-m;
    text-transform: uppercase;
    span {
      color: #8d8d8d;
    }
  }
  &-tags__social {
    display: flex;
    align-items: center;
    span {
      color: #29282d;
      @extend %q-m;
      text-transform: uppercase;
    }
  }
  &__portfolio {
    padding-bottom: 40px;
    margin-bottom: 40px;
    border-bottom: 1px solid #ececec;
  }
  &__portfolio-inner {
    display: flex;
  }
  &__portfolio-img {
    width: 140px;
    height: 140px;
    object-fit: cover;
    margin-right: 30px;
  }
  &__portfolio-title {
    font-size: 22px;
    color: #29282d;
    @extend %q-m;
    margin-bottom: 30px;
  }
  &__portfolio-text {
    color: #8d8d8d;
    @extend %q-m;
  }
  &__coments {
    padding-bottom: 39px;
    margin-bottom: 40px;
    border-bottom: 1px solid #ececec;
  }
  &__coments-title {
    font-size: 24px;
    @extend %r-b;
    color: #29282d;
    margin-bottom: 35px;
  }
  &__coments-item {
    margin-bottom: 32px;
    display: flex;
    &:last-child {
      margin-bottom: 0;
    }
  }
  &__coments-img {
    border-radius: 50%;
    overflow: hidden;
    width: 70px;
    height: 70px;
    object-fit: cover;
    margin-right: 30px;
  }
  &__coments-content {
    max-width: 642px;
    width: 100%;
  }
  &__coments-box {
    display: flex;
    margin-bottom: 16px;
  }
  &__coments-subtitle {
    color: #29282d;
    position: relative;
    &::after {
      content: "/";
      position: absolute;
      margin-left: 15px;
    }
  }
  &__coments-date {
    margin-left: 30px;
    color: #8d8d8d;
    @extend %q-m;
  }
  &__coments-text {
    color: #8d8d8d;
    margin-bottom: 15px;
  }
  &__coments-link {
    color: #8d8d8d;
    @extend %q-m;
    padding-left: 26px;
    position: relative;
    &::before {
      content: "";
      position: absolute;
      width: 15px;
      height: 13px;
      top: 0;
      left: 0;
      background-image: url(../images/icons/arrow-right.svg);
    }
  }
  &__form {
    margin-bottom: 120px;
  }
  &__form-title {
    font-size: 24px;
    @extend %r-b;
    color: #29282d;
    margin-bottom: 30px;
  }
  &__form-input {
    width: 368px;
    height: 60px;
    border: solid 1px #ececec;
    background-color: transparent;
    padding: 0 23px;
    &::placeholder {
      font-size: 16px;
      @extend %q-m;
      color: #8d8d8d;
    }
  }
  &__form-input + .blog__form-input {
    margin-left: 30px;
  }
  &__form-textarea {
    resize: none;
    width: 770px;
    height: 220px;
    border: solid 1px #ececec;
    padding: 24px;
    margin: 30px 0 33px;
    &::placeholder {
      font-size: 16px;
      @extend %q-m;
      color: #8d8d8d;
    }
  }
  &__form-btn {
    padding: 19px 28px;
    color: #ffffff;
    text-transform: uppercase;
    box-shadow: 0px 7px 20px 0 rgba(255, 17, 48, 0.3);
    background-color: #fe3e57;
    border: none;
    cursor: pointer;
  }
}

// blog
@import "media";
